h1.display-4 {
    font-weight: bold;
    color: #007bff; /* Azul do Bootstrap */
}

.card {
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
        cursor: pointer
    }

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary, .btn-outline-primary {
    border-radius: 50px;
}
